aiofiles==23.2.1
fastapi==0.104.1
langchain_core==0.1.27
langchain_openai==0.0.5
langgraph==0.0.20
moviepy==1.0.3
openai_whisper==20231117
pydantic==2.5.2
pydantic_settings==2.1.0
starlette==0.27.0
Werkzeug==3.0.1
typing-extensions>=4.8.0
uvicorn[standard]>=0.24.0
